<div fxLayout="row" fxLayoutAlign="center" >
  <div fxFlex="70" fxLayout="column">
    <div fxFlex style="text-align:center">
      <h1>Workshop 3</h1>
      this is third workshop!
    </div>
    <mat-form-field fxFlex>
      <input  matInput placeholder="Email">
    </mat-form-field>
    <mat-form-field fxFlex>
      <input matInput placeholder="Password">
    </mat-form-field>
    <div fxFlex>
      <button (click)="submit()" style="width: 100%" mat-raised-button color="primary">Submit</button>
    </div>
  </div>
</div>